<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="adminDao" class="com.springmvc.ketao.dao.impl.AdminDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="adminManagerBase" class="com.springmvc.ketao.service.impl.AdminManager">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
	<bean id="adminManager" parent="transactionBese">
		<property name="target" ref="adminManagerBase"></property>
	</bean>
	
</beans>
