<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<!-- admin begin -->
	<bean id="adminDao" class="com.springmvc.ketao.dao.impl.AdminDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="adminManagerBase" class="com.springmvc.ketao.service.impl.AdminManager">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
	<bean id="adminManager" parent="transactionBese">
		<property name="target" ref="adminManagerBase"></property>
	</bean>
	<!-- admin end -->
	<!-- student begin -->
	<bean id="studentDao" class="com.springmvc.ketao.dao.impl.StudentDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="studentManagerBase" class="com.springmvc.ketao.service.impl.StudentManager">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	
	<bean id="studentManager" parent="transactionBese">
		<property name="target" ref="studentManagerBase"></property>
	</bean>
	<!-- student end -->
	<!-- teacher begin -->
	<bean id="teacherDao" class="com.springmvc.ketao.dao.impl.TeacherDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="teacherManagerBase" class="com.springmvc.ketao.service.impl.TeacherManager">
		<property name="teacherDao" ref="teacherDao"></property>
	</bean>
	
	<bean id="teacherManager" parent="transactionBese">
		<property name="target" ref="teacherManagerBase"></property>
	</bean>
	<!-- teacher end -->
	<!-- inform begin -->
	<bean id="informDao" class="com.springmvc.ketao.dao.impl.InformDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="informManagerBase" class="com.springmvc.ketao.service.impl.InformManager">
		<property name="informDao" ref="informDao"></property>
	</bean>
	
	<bean id="informManager" parent="transactionBese">
		<property name="target" ref="informManagerBase"></property>
	</bean>
	<!-- inform end -->
	<!-- course begin -->
	<bean id="courseDao" class="com.springmvc.ketao.dao.impl.CourseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="courseManagerBase" class="com.springmvc.ketao.service.impl.CourseManager">
		<property name="courseDao" ref="courseDao"></property>
	</bean>
	
	<bean id="courseManager" parent="transactionBese">
		<property name="target" ref="courseManagerBase"></property>
	</bean>
	<!-- course end -->
	<!-- notice begin -->
	<bean id="noticeDao" class="com.springmvc.ketao.dao.impl.NoticeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="noticeManagerBase" class="com.springmvc.ketao.service.impl.NoticeManager">
		<property name="noticeDao" ref="noticeDao"></property>
	</bean>
	
	<bean id="noticeManager" parent="transactionBese">
		<property name="target" ref="noticeManagerBase"></property>
	</bean>
	<!-- notice end -->
	<!-- spread begin -->
	<bean id="spreadDao" class="com.springmvc.ketao.dao.impl.SpreadDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="spreadManagerBase" class="com.springmvc.ketao.service.impl.SpreadManager">
		<property name="spreadDao" ref="spreadDao"></property>
	</bean>
	
	<bean id="spreadManager" parent="transactionBese">
		<property name="target" ref="spreadManagerBase"></property>
	</bean>
	<!-- spread end -->
	<!-- evaluation begin -->
	<bean id="evaluationDao" class="com.springmvc.ketao.dao.impl.EvaluationDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="evaluationManagerBase" class="com.springmvc.ketao.service.impl.EvaluationManager">
		<property name="evaluationDao" ref="evaluationDao"></property>
	</bean>
	
	<bean id="evaluationManager" parent="transactionBese">
		<property name="target" ref="evaluationManagerBase"></property>
	</bean>
	<!-- evaluation end -->
	<!-- evalike begin -->
	<bean id="evalikeDao" class="com.springmvc.ketao.dao.impl.EvalikeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="evalikeManagerBase" class="com.springmvc.ketao.service.impl.EvalikeManager">
		<property name="evalikeDao" ref="evalikeDao"></property>
	</bean>
	
	<bean id="evalikeManager" parent="transactionBese">
		<property name="target" ref="evalikeManagerBase"></property>
	</bean>
	<!-- evalike end -->
	<!-- coscollect begin -->
	<bean id="coscollectDao" class="com.springmvc.ketao.dao.impl.CoscollectDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="coscollectManagerBase" class="com.springmvc.ketao.service.impl.CoscollectManager">
		<property name="coscollectDao" ref="coscollectDao"></property>
	</bean>
	
	<bean id="coscollectManager" parent="transactionBese">
		<property name="target" ref="coscollectManagerBase"></property>
	</bean>
	<!-- evalike end -->
</beans>
